<div class="card mb-3 mb-3">
  <img src= "{{ player.ImageURL }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title" style="color: #170c30;">
      {{ player.Name }}
    </h5>
    <p class="card-text" style="color: #170c30;">
      Balance: {{ player.Money }}<br>
    </p>
    <button nbButton [nbPopover]="component" nbPopoverTrigger="click" nbPopoverPlacement="bottom" type="button" class="btn btn-danger animate__animated animate__heartBeat"
    (click)="setInfo()">More Info
    </button>
  </div>
</div>

